@media (max-width: 1023px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    min-width: 340px;
  }
  .container .principal {
    padding: 2rem;
  }
  .container .principal .title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  .container .principal .sub-title.top-banner {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-right: 0.9rem;
  }
  .container .principal .description {
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 1rem;
  }
  .container .plan-price {
    padding: 2rem 2rem 2.5rem 2rem;
    border-radius: 0;
  }
  .container .why-us {
    border-radius: 0 0 0.6rem 0.6rem;
    width: 100%;
  }
}
